.bobody {
  background-color: black;
  box-sizing: border-box;
  height: 100vw;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Page Login */
.boxLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  float: none;
  justify-content: space-around;
  padding: 50px;
}

.gameName {
  color: white;
  font-family: Montserrat , sans-serif;
}

.loginFormName {
  margin-top: 16px;
}

.playButton {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px;
  padding-left: 5px;
}

.input-group {
  justify-content: center;
}

.formLogin {
  align-content: space-around;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
}

.settingsButton {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 2.5px;
}

.inputLogin {
  justify-content: space-around;
  width: 100px;
}

.textLogin {
  justify-content: space-around;
  max-width: 350px;
}

/* Page Game */
.gameBox {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.questionsAndAnswer {
  align-items: center;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-width: 1000px;
  padding: 5px;
  text-align: center;
}

.buttonAnswer {
  margin: 30px;
}

/* Feedback */
.feedBackBox {
  align-items: center;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-width: 1000px;
  padding: 5px;
  text-align: center;
}

/* Component Header */
.head {
  align-items: center;
  background-color: rgb(100, 100, 100);
  border-radius: 1000px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 300px;

}

.imageHead {
  width: 50px;
}

.nameScore {
  display: flex;
  flex-direction: row;
}

.red-border {
  box-shadow: 0 0 1em red;
  margin: 5px;
}

.green-border {
  border: 3px solid rgb(6, 240, 15);
  box-shadow: 0 0 2em green;
  margin: 5px;
}

/* Settings */
.SettingsColor {
  color: white;
  text-align: center;
}

/* Ranking */
.RankingHead {
  background-color: rgb(100, 100, 100);
  color: white;
  padding: 5px;
  text-align: center;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 300px;
}

.boardPlayer {
  align-items: center;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding-right: 3px;
}
